In [1]:
name="hareem"

In [17]:
library=[
    ('author','title','pages'),
    ('b','2','y'),
    ('c','3','z')
]

In [19]:
for book in library:
    print(f"{book[0]:{10}} {book[1]:{10}}  {book[2]:.<{10}}")

author     title       pages.....
b          2           y.........
c          3           z.........

In [20]:
from datetime import datetime

In [21]:
today=datetime(2023,10,16)

In [22]:
today

datetime.datetime(2023, 10, 16, 0, 0)

In [23]:
print(today)

2023-10-16 00:00:00

In [24]:
print(f"{today:%b, %d, %y}")

Oct, 16, 23

In [25]:
print(f"{today:%B, %d, %Y}")

October, 16, 2023

In [31]:
print(today.strftime("%B, %d, %Y"))

October, 16, 2023

In [38]:
import datetime
current=datetime.date.today()

In [39]:
from datetime import datetime

current = datetime.today().date()

In [40]:
current

datetime.date(2023, 10, 16)

In [51]:
current.strftime("%d %y %b %a %A")

'16 23 Oct Mon Monday'

In [54]:
today=datetime(1997,7,20)

In [61]:
print(f"Please attend our event {today:%A %b %d} in the year {today:%Y}")

Please attend our event Sunday Jul 20 in the year 1997

In [72]:
import datetime

In [73]:
# birthday=input()

In [134]:
from datetime import datetime,delta

# Assuming 'birthday' is a string in the format 'mm/dd/yyyy'
birthday = "10/16/1990"  # Replace this with your actual birthday string

# Convert the string to a datetime object
birthdate = datetime.strptime(birthday, "%m/%d/%Y")

# Print the resulting datetime object
print(birthdate)

ImportError: cannot import name 'delta' from 'datetime' (C:\Users\HP\anaconda3\Lib\datetime.py)

In [135]:
birthday='09/19/2024'

In [136]:
birthdate =datetime.strptime(birthday, "%m/%d/%Y")

In [125]:
birthdate=datetime.strptime(birthday,"%m/%d/%Y").date()

In [126]:
birthdate

datetime.date(2024, 9, 19)

In [127]:
from datetime import datetime

In [128]:
current=datetime.now().date()

In [129]:
current

datetime.date(2023, 10, 16)

In [130]:
diff=birthdate-current

In [131]:
diff.days

339

In [143]:
from datetime import datetime,timedelta

In [147]:
current=datetime.now().date()

In [151]:
current+timedelta(days=15)

datetime.date(2023, 10, 31)

In [153]:
current+timedelta(hours=20)

datetime.date(2023, 10, 16)

In [ ]:
# print(f'today')

In [154]:
%%writefile test.txt
Hello UMAMA

Writing test.txt

In [161]:
try:
    myf=open("tet.txt","r")
except:
    print("not available")

not available

In [165]:
try:
    open("test.txt","r")
except:
    print("not available")

In [166]:
myf

In [167]:
pwd

'C:\\Users\\HP\\Untitled Folder'

In [168]:
myf.read()

'Hello UMAMA \n'

In [238]:
%%writefile test.txt
Hello UMAMA 
how are you

Overwriting test.txt

In [239]:
myf=open("test.txt","r")

In [240]:
print(myf.read())

Hello UMAMA
how are you

In [241]:
myf.seek(0)

0

In [242]:
print(myf.read())

Hello UMAMA
how are you

In [243]:
myf.seek(0)

0

In [244]:
myf.readlines()

['Hello UMAMA \n', 'how are you\n']

In [245]:
myf=open("test.txt","w+")

In [246]:
myf.write('i am new\n')

9

In [247]:
myf.seek(0)
myf.read()

'i am new\n'

In [248]:
myf.write('i am very new\n')

14

In [249]:
myf.read()

''

In [250]:
myf.seek(0)
myf.read()

'i am new\ni am very new\n'

In [251]:
myf.close()

In [252]:
myf=open("test.txt","a+")

In [253]:
myf.write('i am very very new\n')

19

In [254]:
myf.read()

''

In [255]:
myf.seek(0)
myf.read()

'i am new\ni am very new\ni am very very new\n'

In [256]:
%%writefile -a test.txt
Hello UMAMA

Appending to test.txt

In [257]:
myf.seek(0)
print(myf.read())

i am new
i am very new
i am very very new
Hello UMAMA

In [258]:
with open('test.txt','r') as txt:
    content=txt.read()
print(content)

i am new
i am very new
i am very very new
Hello UMAMA

In [259]:
with open('test.txt','r') as txt:
    for line in txt:  
        print(line,end="")

i am new
i am very new
i am very very new
Hello UMAMA

In [260]:
with open('test1.txt','w+') as txt:
    txt.write('Hello')
    txt.seek(0)
    content=txt.read()
print(content)

Hello

In [261]:
with open('test.txt','r') as txt:
    for line in txt:  
        print(line,end="")

i am new
i am very new
i am very very new
Hello UMAMA

In [262]:
%%writefile -a test.txt
i am appended

Appending to test.txt

In [263]:
with open('test.txt','r') as txt:
    for line in txt:  
        print(line,end="")

i am new
i am very new
i am very very new
Hello UMAMA
i am appended